header{
    
    padding: 0 3.5rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    background-color: black;
    color: white;

    border-bottom: 1px solid #222;
    
    position: sticky;

    top: 0;

    z-index: 1000;

    background-color: rgba(0, 0, 0, .9);

    backdrop-filter: blur(10px);

    min-width: 80px;
}

/* TITULO-LOGO ----------------------------------------*/

.Logo{
    width: clamp(160px, 15vw, 230px);

    flex-shrink: 0;
}

#imgLogo{
    width: 100%;

    display: block;

    transition: .3s;
}

#imgLogo:hover{
    transform: scale(1.02);
}

/* TITULO-LOGO ----------------------------------------*/

/* BOTÃO MENU ----------------------------------------*/
.btnMenu{

    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: transparent;
    border: none;

    color: white;

    transition: 0.3s;
}

.btnMenu:hover{
    transform: scale(1.1);
}
/* BOTÃO MENU ----------------------------------------*/