/* MENU ----------------------------------------*/
.menu{
    display: flex;

    gap: 2rem;
    font-size: clamp(16px, 1.5vw, 18px);
}

.menu a{
    text-decoration: none;
    cursor: pointer;

    color: white;

    transition: .3s;

    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}


.menu a:hover{
    color: #f0b232;
    
    transform: translateY(-10px);   

    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

/* ABOUT ----------------------------------------*/

.about{
    margin-top: 3rem;
    
      background: linear-gradient(
        to bottom,
        #111111
    );

}

.about .container
{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.about-content{

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;
}

.about h1{
    color: #f0b232;

    font-size: clamp(2rem, 6vw, 3rem);
    font-family: "Inter-Bold";

    padding-bottom: 1rem;
}

.about-cover{
    text-align: center;
    
    max-width: 1500px;

    min-width: 150px;
}

.about-cover img{
    min-height: 100px;

    max-height: 450px;

    border-radius: 20px;
}

.about-text{
    width: 100%;

    text-align: center;

    padding: clamp(1rem, 2vw, 1.4rem);
}

.about-text p{
    font-size: clamp(18px, 2vw, 22px);
    max-width: 1170px;
    
    width: 100%;

    margin: 0 auto;

}

/* ABOUT ----------------------------------------*/

/* CONTACT ----------------------------------------*/

.contact{
    margin-top: 3rem;
    
      background: linear-gradient(
        to bottom,
        #111111,
        #181818
    );
}

.contact .container{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.contact-content
{   
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.contact-content h2{
    color: #f0b232;

    font-size: clamp(1.2rem, 6vw, 2.2rem);
    font-family: "Inter-Bold";

    padding-bottom: 0.1rem;
}

.contact-text{ 
    width: 100%;

    text-align: center;

    padding: clamp(1rem, 2vw, 1.4rem);
}

.contact-text p{
    font-size: clamp(18px, 2vw, 22px);

    max-width: 1170px;    
    width: 100%;

    margin: 0 auto;
    
    gap: 1rem;
}

.contact a{
    text-decoration: none;

    padding: clamp(1rem, 3vw, 1.5rem);

    border: none;
    border-radius: 15px;

    background: transparent;

    color: #f0b232;

    font-size: clamp(1rem, 4vw, 1.3rem);
    font-weight: 700;

    cursor: pointer;

    transition: .3s ease;
}

.contact a:hover{
    transform: translateY(-10px);

    color: #111111;
    background: #f0b232;
}
/* CONTACT ----------------------------------------*/


