@media (max-width: 768px)
{
    .menu{
        display: none;
        
        flex-direction: column;

        position: absolute;

        top: 100%;
        right: 0;

        width: 100%;

        background-color: #111;
   
        padding: 2rem;

        gap: 2rem;
    }

    .menu.active{
        display: flex;
    }

    .header-actions{
        display: none;
    }
    
    .btnMenu{
        display: block;
        padding: clamp(0.8rem, 1.5vw, 1.2rem);

        font-size: clamp(2rem, 1.5vw, 3rem);

    }

    .TituloLogo{
    width: clamp(10.5rem, 30vw, 11.5rem);
    }   

}

@media (min-width: 768px) 
{

    .btnMenu{
        display: none;
    }    
}