@media (max-width: 768px)
{
    .menu{
        display: none;
    }

    .header-actions{
        display: none;
    }
    
       
    .about-content{
        flex-direction: column;
        gap: 2px;
    }

    .about-content img{
        max-width: 300px;
    }

    .btnMenu{
        display: block;
        padding: clamp(1rem, 1.5vw, 1rem);

        font-size: clamp(2rem, 1.5vw, 3rem);

    }

    .TituloLogo{
    width: clamp(10.5rem, 3vw, 11.5rem);
    }   

}

@media (min-width: 768px) 
{

    .btnMenu{
        display: none;
    }    
}