@media (max-width: 768px)
{
    .menu{
        display: none;
    }
    .BoxLogin{
        display: none;
    }

    .btnMenu{
        display: block;
        padding: clamp(1rem, 1.5vw, 1rem);

        font-size: clamp(2rem, 1.5vw, 3rem);

    }

    .TituloLogo{
    width: clamp(10.5rem, 3vw, 11.5rem);
    }   

}

@media (min-width: 768px) 
{
    .TituloLogo{
    margin-top: 5px;
    width: clamp(14rem, 3vw, 14.5rem);
    }   

    .btnMenu{
        display: none;
    }    
}